# Reading articles from Wikipedia 
based on the list of names
https://pypi.org/project/wikipedia/

In [1]:
import wikipedia
import pandas as pd
import glob
import csv
import requests

## Scrape articles for Eastern European Female Leaders

In [3]:
# Read the list of Women EE names
df = pd.read_csv('WE_name_country.csv')
df.head()

                     name  country
0        Mahsa Abdolzadeh  Austria
1            Claudia Arpa  Austria
2    Christine Aschbacher  Austria
3        Gertrude Aubauer  Austria
4  Claudia Bandion-Ortner  Austria

In [4]:
#Save list of countries
country_list = df.country.unique()

# Number of articles in initial list by country
df.groupby('country').count()

              name
country
Austria         92
Belgium        149
France         490
Germany        533
Lienchshtein    14
Luxembourg      25
Monaco          11
Netherlands    218
Switzerland    136

In [188]:
country = country_list[5]
df['name'].iloc[239:][df.country == country]

239                 Ewa Janik
240               Bogna Janke
241        Elżbieta Jankowska
242       Małgorzata Janowska
243    Izabela Jaruga-Nowacka
                ...
305         Alicja Olechowska
306        Małgorzata Olejnik
307           Halina Olendzka
308      Daria Gosek-Popiołek
309               Dorota Olko
Name: name, Length: 71, dtype: object

In [192]:
# Save content of Wiki article pages from the list
articles = []

# Change country 
country = country_list[-1]

for n in df['name'].iloc[239:][df.country == country]:
    try:
        page = wikipedia.page(n)
    except wikipedia.exceptions.DisambiguationError as e:
        print(e.options)
    except wikipedia.exceptions.PageError as e:
        print(e)
    except requests.exceptions.ConnectionError as e:
        e.status_code = "Connection refused"
    else:
        text = page.content
        # Save only articles that are over 800 symbols
        if len(text) > 10:
            articles.append(text)
print('Articles downloaded:', len(articles))

Page id "viktoria kinzburska" does not match any pages. Try another id!
Page id "anna romanov" does not match any pages. Try another id!
Page id "kirk rudi" does not match any pages. Try another id!
Articles downloaded: 128

In [193]:
# How many articles has been downloaded 
print('Articles downloaded:', len(articles))
# what is the first article
print('First article:', articles[0][:100])
# what is the last article
print('Last article:', articles[-1][:100])

Articles downloaded: 128
First article: Olha Pavlivna Aivazovska (Ukrainian: Ольга Павлівна Айвазовська; born 9 February 1981 in Zalishchyky
Last article: Yaryna Bohdanivna Turchyn (Ukrainian: Турчин Ярина Богданівна, born (1975-10-22)October 22, 1975 in

In [194]:
# Save downloaded acticles into CSV file
dic = {'articles': articles}
articles_df = pd.DataFrame(dic)
filename = country +'_articles.csv'
articles_df.to_csv('WE_articles/' + filename)